@using Firehose.Web.Infrastructure
@model IAmACommunityMember

<div class="col-md-6 profileCard">
    <img class="mugShot" src="@Model.GravatarImage()" alt="@Model.FirstName @Model.LastName" />
    <div class="mugShotBorder">
        <strong>@Model.FirstName @Model.LastName</strong><br />
        <span title="Planet Xamarin | @Model.Title">@Model.Title</span>

        <div class="profileCardSocial">
            <a href="https://twitter.com/@Model.TwitterHandle"><i class="fa fa-twitter"></i></a>
            @foreach (var uri in Model.FeedUris)
            {
                <a class="contactDetail" href="@uri.ToString()" title="@uri.ToString()"><i class="fa fa-rss"></i></a>
            }
            <a href="@(Model.WebSite.ToString())" title="@Model.WebSite.ToString()"><i class="fa fa-globe"></i></a>
        </div>
    </div>
    <div class="profileCardWrapper">        
        <div class="profileCardLocation">
            <i class="fa fa-map-marker"></i> @Model.StateOrRegion

            @if (Model is IAmAXamarinMVP || Model is IAmAMicrosoftMVP)
            {
                string output = string.Empty;
                var xamarinMvpModel = Model as IAmAXamarinMVP;
                if (xamarinMvpModel != null)
                {
                    output += "<br/> Xamarin MVP since: " + xamarinMvpModel.FirstAwarded.ToString("MMMM yyyy");
                    //if (Model is IAmAMicrosoftMVP)
                    //{
                    //    output += " and";
                    //}
                }
                var microsoftMvpModel = Model as IAmAMicrosoftMVP;
                if (microsoftMvpModel != null)
                {
                    output += "<br/><i class=\"fa fa-windows\"></i> Microsoft MVP since: " + microsoftMvpModel.FirstAwarded.ToString("MMMM yyyy");
                }

                <text>@Html.Raw(output)</text>
            }
        </div>
    </div>
</div>